<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- For responsive screen size changes -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_pages_default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_phone_size.css') }}">
  <title>Forgot Password</title>
</head>
<body>
  <form action="{{ url_for('forgot_password_send_token_to_email.forgot_password_send_token_to_email_function') }}" method="post" class="login_and_create_account_form">
    <div class="container_outer_login_and_create_account">
      <div class="container_login">
        <label for="email"><b>Email</b></label>
        <input type="text" class="input_type_login_and_create_account" placeholder="Enter Email" name="email" pattern="[a-z0-9._-]{1,50}@[a-z0-9._-]{1,30}\.[a-z]{2,3}" required>
        <button type="submit" class="button_login_and_create_account">Login</button>
        <div class='logging_in_account_error_message'>
          <p><strong>{{ error_message_from_python_to_html }}</strong></p>
        </div>
      </div>
  </form>
  <div class="back_to_login">
    <a href="{{ url_for('login_page_render.login_page_render_function') }}"><p>Back to login page</p></a>
  </div>
</body>
</html>