<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SymbolNews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Connect to Google Fonts Start -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <!-- Connect to Google Fonts End -->

  <!-- Favicon Start -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon_io/site.webmanifest">
  <!-- Favicon End -->
  
  <!-- Connect to the style pages Start -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_all_parts.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_landing_nav.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_a_main_phone_example.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_b_company_thresholds.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_c_chart_percent_examples.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_d_simple_text.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_e_sharing_images.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_part_f_account_type.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/landing_page/style_footer.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <!-- Connect to the style pages End -->
  
  <!-- Load javascript function(s) Start -->
  <script src="/static/javascript/landing_page/navbar_hamburger.js" type="text/javascript" defer></script>
  <!-- Load javascript function(s) End -->

  <!-- Global site tag (gtag.js) - Google Analytics Start -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGVQW85840"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CGVQW85840');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics End -->
  
  <!-- Begin Inspectlet Asynchronous Code -->
  <!--<script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1045752404]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1045752404&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
  </script>-->
  <!-- End Inspectlet Asynchronous Code -->
</head>

<body>
  <nav class="navbar">
    <div class="name-logo">
      <a href="{{ url_for('landing_page_render.landing_page_render_function') }}"><img src="/static/images/icon_outline_black.png" class="symbolnews-logo" alt="SymbolNews icon"></a>
      <div class="brand-title"><a href="{{ url_for('landing_page_render.landing_page_render_function') }}">SymbolNews</a></div>
    </div>
    <a href="#" class="toggle-button">
      <span class="bar top-bar"></span>
      <span class="bar middle-bar"></span>
      <span class="bar bottom-bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="{{ url_for('about_page_render.about_page_render_function') }}">About</a></li>
        <li><a href="{{ url_for('contact_render.contact_render_function') }}">Contact</a></li>
        <li><a href="{{ url_for('login_page_render.login_page_render_function') }}">Login</a></li>
        <li><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><button class="btn btn-create-account">Create Account</button></a></li>
      </ul>
    </div>
  </nav>
  <main>
    <!-- Part a - Phone example with caption START -->
    <div class="part-a-subtitle-example-texts">
      <div class="part-a-left-side-subtitle">
        <p class="part-a-left-side-big-title">Watchlist news notifications.</p>
        <p class="part-a-left-side-big-title">Stay informed.</p>
        <p class="part-a-left-side-small-title">Never lag behind on market news again.</p>
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><button class="btn btn-create-account part-a-left-side-button">Create Account</button></a>
      </div>
      <div class="part-a-right-side-background-image">
        <div class="part-a-right-side-background-image-inner"></div>
      </div>
      <div class="part-a-right-side-example-text">
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/iphone_blueprint.png" class="part-a-right-side-phone-image" alt="SymbolNews example texts on phone"></a>
      </div>
    </div>
    <!-- Part a - Phone example with caption END -->

    <!-- Part b - Companies and threshold START -->
    <div class="part-b-background-image">
      <p class="part-b-description">Add stocks to your <strong>SymbolNews</strong> watchlist.</p>
      <div class="part-b-all-companies-with-thresholds">
        <div class="part-b-single-company-with-threshold company-logo-threshold-1">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/amazon_logo.png" class="company-logo-image" alt="Amazon logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">7%</p></div>
        </div>
        <div class="part-b-single-company-with-threshold company-logo-threshold-2">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/square_logo.png" class="company-logo-image" alt="Square Inc. logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">10%</p></div>
        </div>
        <div class="part-b-single-company-with-threshold company-logo-threshold-3">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/shopify_logo.png" class="company-logo-image" alt="Shopify logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">8%</p></div>
        </div>
        <div class="part-b-single-company-with-threshold company-logo-threshold-4">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/tesla_logo.png" class="company-logo-image" alt="Tesla logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">7%</p></div>
        </div>
        <div class="part-b-single-company-with-threshold company-logo-threshold-5">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/peloton_logo.png" class="company-logo-image" alt="Peloton logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">9%</p></div>
        </div>
        <div class="part-b-single-company-with-threshold company-logo-threshold-6">
          <div class="company-logo"><a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/salesforce_logo.png" class="company-logo-image" alt="Salesforce logo"></a></div>
          <div class="company-threshold"><p class="outline-threshold">7%</p></div>
        </div>
      </div>
    </div>
    <!-- Part b - Companies and threshold END -->

    <!-- Part c - Chart percent change examples START -->
    <p class="part-c-description">If stock symbol passes your set threshold...</p>
    <div class="part-c-chart-percent-change-examples">
      <div class="part-c-left-chart-percent-change-example">
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/percent_change_down.png" class="part-c-left-chart-example" alt="Example of stock price decreasing x percent"></a>
      </div>
      <div class="part-c-right-chart-percent-change-example">
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/percent_change_up.png" class="part-c-right-chart-example" alt="Example of stock price increasing x percent"></a>
      </div>
    </div>
    <!-- Part c - Chart percent change examples END -->

    <!-- Part d - Get text from SymbolNews START -->
    <p class="part-d-description">...then receive text about the latest company news.</p>
    <div class="part-d-simple-text">
      <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/unDraw_receive_text.png" class="part-d-simple-text-example" alt="Simple image of SymbolNews text message"></a>
    </div>
    <!-- Part d - Get text from SymbolNews End -->

    <!-- Part e - Stay informed START -->
    <div class="part-e-background-image">
      <p class="part-e-description"><strong>SymbolNews</strong> keeps you informed.</p>
      <div class="sharing-images">
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/undraw_images_with_word_bubbles_1.png" class="part-e-image-1" alt="People talking about SymbolNews"></a>
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/undraw_images_with_word_bubbles_2.png" class="part-e-image-2" alt="People talking about SymbolNews"></a>
        <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><img src="/static/images/undraw_images_with_word_bubbles_3.png" class="part-e-image-3" alt="People talking about SymbolNews"></a>
      </div>
    </div>
    <!-- Part e - Stay informed END -->

    <!-- Part f - Free vs Premium START -->
    <p class="part-f-description">Account Service Type</p>
    <div class="part-f-account-options">
      <div class="part-f-free-account-option">
        <div class="part-f-account-option-header">
          <p class="account-option-header">SymbolNews - Free</p>
          <p class="account-option-price"><strong>$0.00</strong> / month</p>
          <p class="account-option-details">New accounts are <span style="color: green">automatically</span> Premium for the first 60 days.</p>
        </div>
        <div class="part-f-free-account-option-details">
          <div class="bar-divide"></div>
          <ul class="plan-features">
            <li class="plan-features plan-included">Watchlist limit: 20 companies</li>
            <li class="plan-features plan-included">Notification limit: 1 text/day</li>
            <li class="plan-features plan-included">News source links/articles: 1/text</li>
            <li class="plan-features plan-not-included">Weekly newsletter recap</li>
            <li class="plan-features plan-not-included">Company earnings information</li>
          </ul>
        </div>
        <div class="part-f-free-account-option-create-account">
          <div class="bar-divide"></div>
          <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><button class="btn btn-create-account part-f">Create Account</button></a>
        </div>
      </div>
      <div class="part-f-premium-account-option">
        <div class="part-f-account-option-header">
          <p class="account-option-header">SymbolNews - <span style="color: green">Premium</span></p>
          <p class="account-option-price"><strong>$9.99</strong> / month</p>
          <p class="account-option-details"><span style="color: white">.</span></p>
        </div>
        <div class="part-f-premium-account-option-details">
          <div class="bar-divide"></div>
          <ul class="plan-features">
            <li class="plan-features plan-included">Watchlist unlimited</li>
            <li class="plan-features plan-included">Notification unlimited texts/day</li>
            <li class="plan-features plan-included">News source links/articles: 5/text</li>
            <li class="plan-features plan-included">Weekly newsletter recap</li>
            <li class="plan-features plan-included">Company earnings information</li>
          </ul>
        </div>
        <div class="part-f-premium-account-option-create-account">
          <div class="bar-divide"></div>
          <a href="{{ url_for('create_account_page_render.create_account_page_render_function') }}"><button class="btn btn-create-account part-f">Create Account</button></a>
        </div>
      </div>
    </div>
    <!-- Part f - Free vs Premium END -->
  </main>
  <footer>
    <ul>
      <li><a href="{{ url_for('about_page_render.about_page_render_function') }}">About</a></li>
      <li><a href="{{ url_for('landing_page_render.landing_page_render_function') }}"><img src="/static/images/icon_outline_white.png" alt="SymbolNews icon"></a></li>
      <li><a href="{{ url_for('contact_render.contact_render_function') }}">Contact</a></li>
    </ul>
  </footer>
</body>
</html>