<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- For responsive screen size changes -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_pages_default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/forgot_password_page/forgot_password_new_password_page/style.css') }}?v={{ css_cache_busting_variable_to_html }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_phone_size.css') }}">
  <!-- For favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon_io/site.webmanifest">
  <title>SymbolNews - Set New Password</title>
</head>
<body>
  <div class = 'page_top_half'>
    <header class = "page_header">
      <div class = "logo_site_name">
        <div class = "logo">
          <img src="/static/images/icon_outline_black.png" alt="SymbolNews logo">
        </div>
        <div class = "site_name">
          <h1>SymbolNews</h1>
        </div>
      </div>
    </header>
    <form action="{{ url_for('confirm_new_password_set.confirm_new_password_set_function') }}" method="post" class="login_and_create_account_form">
      <div class = "site_description_subtitle">
        <p><strong>Text messages that save you look up time on the latest stock news.</strong></p>
      </div>
      <div class = "forgot_password_subheader">
        <p><strong>Set New Password</strong></p>
      </div>
      <div class="set_password_password">
        <label for="psw"><b>Password</b></label>
        <input type="password" class="input_type_login_and_create_account" placeholder="Enter Password" name="psw" pattern="(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Minimum 8 charactes, Maximum 20 characters: Uppercase, Lowercase, Number, Special" required>
      </div>
      <div class="set_password_submit">
        <button type="submit" class="button_login_and_create_account">Login</button>
      </div>
    </form>
  </div>
</body>
</html>