<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- For responsive screen size changes -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_pages_default.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login_and_create_account/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_phone_size.css') }}">
  <title>Forgot Password</title>
</head>
<body>
  <form action="{{ url_for('confirm_new_password_set.confirm_new_password_set_function') }}" method="post" class="login_and_create_account_form">
    <div class="container_outer_login_and_create_account">
      <div class="container_login">
        <label for="psw"><b>Password</b></label>
        <input type="password" class="input_type_login_and_create_account" placeholder="Enter Password" name="psw" pattern="(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Minimum 8 charactes, Maximum 20 characters: Uppercase, Lowercase, Number, Special" required>
        <button type="submit" class="button_login_and_create_account">Login</button>
        <div class='logging_in_account_error_message'>
          <p><strong>{{ error_message_from_python_to_html }}</strong></p>
        </div>
      </div>
  </form>
</body>
</html>