/* --------------------------------- FOOTER */
footer {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 50vh 0 50vh #000;
}

footer ul {
  grid-area: 1 / 2 / 2 / 3;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer ul li {
  margin: 20px;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a img {
  height: 50px;
}

footer ul li:hover {
  cursor: pointer;
}