/* --------------------------------- MAIN */
main {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 500px;
}

.explanation {
  text-align: center;
  margin-top: 30px;
}

/* Main - smaller screens */
@media (max-width: 1000px) {
  main {
    padding-top: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px;
  }
}