{% extends "templates_user_logged_in/loggedin_blueprint_page.html" %}
{% block title %}
  <title>Account</title>
  <script src="https://kit.fontawesome.com/f23f12952c.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="page_guidelines top_of_page">
  <div class="account_page_title">
    <h1>Account</h1>
  </div>
  <div class="account_page_session_info">
    <div class="email_session_info">
      <p>Email: {{ user_email_from_session_to_html }}</p>
    </div>
    <div class="first_name_session_info">
      <p>First Name: {{ user_first_name_from_session_to_html }}</p>
    </div>
    <div class="last_name_session_info">
      <p>Last Name: {{ user_last_name_from_session_to_html }}</p>
    </div>
    <div class="phone_number_session_info">
      <p>Phone Number: {{ user_phone_number_from_session_to_html }}</p>
    </div>
    <!--
    <div class="edit_account_info">
      <a href="{{ url_for('account_page_edit_information.account_page_edit_information_function') }}"><button type="submit" class="button_symbol_and_percent_change">Edit Account</button></a>
    </div>
    -->
    <div class="account_output_message">
      <p>{{ output_message_to_html }}</p>
    </div>
    <div class="account_delete_account">
      <a href="{{ url_for('delete_account_page_render.delete_account_page_render_function') }}"><button type="submit" class="button_symbol_and_percent_change delete_button">Delete Account</button></a>
    </div>
  </div>
</div>
{% endblock %}