{% extends "templates_user_logged_in/loggedin_blueprint_page.html" %}
{% block title %}
  <title>Account</title>
  <script src="https://kit.fontawesome.com/f23f12952c.js" crossorigin="anonymous"></script>
  <!-- Load additional css files for this page -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_user_logged_in/account_specific_page/style_main_delete_account.css') }}?v={{ css_cache_busting_variable_to_html }}">
{% endblock %}
{% block content %}
<div class = "background">
</div>
<div class = "delete_section">
  <div class = "subheader">
    <p><strong>Delete Account?</strong></p>
  </div>
  <div class="message">
    <p>Are you sure you want to permanently delete your account?</p>
  </div>
  <div class="choices">
    <a href="{{ url_for('dashboard_page_render.dashboard_page_render_function') }}"><button class = "no_delete">No</button></a>
    <a href="{{ url_for('delete_account_perm.delete_account_perm_function') }}"><button class = "yes_delete">Yes</button></a>
  </div>
</div>
{% endblock %}