{% extends "templates_user_logged_in/loggedin_blueprint_page.html" %}
{% block content %}
<div class="account_page_outer">
  <div class="account_page_title">
    <h1>Account</h1>
  </div>
  <div class="account_page_session_info">
    <div class="email_session_info">
      <p>Email: {{ user_email_from_session_to_html }}</p>
    </div>
    <div class="name_session_info">
      <p>Name: {{ user_name_from_session_to_html }}</p>
    </div>
    <div class="phone_number_session_info">
      <p>Phone Number: {{ user_phone_number_from_session_to_html }}</p>
    </div>
  </div>
  <div class="account_delete_account">
    <p>Delete Account</p>
  </div>
</div>
{% endblock %}