{% extends "templates_user_logged_in/loggedin_blueprint_page.html" %}
{% block title %}
  <title>Symbol Tracker List</title>
{% endblock %}
{% block content %}
<div class="loggedin_homepage_outer">
  <div class="loggedin_homepage_title">
    <h1>Symbol Tracking</h1>
  </div>
  <div class="symbol_tracking_list_section">
    <p>{{ symbol_tracking_list_from_python_to_html }}</p>
  </div>
  <div class="add_symbol">
    <a href="{{ url_for('homepage.logged_in_home_page_function') }}"><button type="button" class="button_login_and_create_account">Add symbol to symbol tracker list</button></a>
  </div>
</div>
{% endblock %}