body {
  display: grid;
  justify-content: center;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 500px minmax(auto, max-content) 100px;
}

.homepage_top_half {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: rgb(169, 255, 169);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: repeat(5, 1fr);
}

header[class = homepage_header] {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  justify-content: center;
}

.logo_site_name {
  display: grid;
  grid-template-columns: 75px 1fr;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 75px;
  width: 75px;
}

form[class = login_and_create_account_form] {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, 1fr);
  gap: 15px;
}

.site_description_subtitle {
  grid-row: 1 / 2;
  display: grid;
  text-align: center;
}

.login_email {
  grid-row: 2 / 3;
  display: grid;
}

.login_password {
  grid-row: 3 / 4;
  display: grid;
}

.login_button {
  grid-row: 4 / 5;
  display: grid;
}

.login_forgot_password {
  grid-row: 5 / 6;
  display: grid;
}

.login_forgot_password p {
  color: red;
}

.login_create_account {
  grid-row: 6 / 8;
  display: grid;
}

.login_create_account button {
  font-size: 25px;
}

input[class=input_type_login_and_create_account] {
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[class=button_login_and_create_account] {
  background-color: #3f9a42;
  color: white;
  cursor: pointer;
  border: none;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
}

button[class=button_login_and_create_account]:hover {
  opacity: 0.8;
}

.homepage_bottom_half {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.symbol_news_steps {
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
}

.symbol_news_steps img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: rgb(12, 124, 0);
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.footer_items {
  grid-column: 2 / 3;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer_items p {
  color: rgb(236, 232, 204);
  font-size: 25px;
}