/* Loggedin Blueprint page */
header {
  background-color: rgb(102, 210, 100);
  height: 50px;
  width: 100%;
  display: block;
  position: fixed;
}

.inner_header {
  background-color: rgb(102, 210, 100);
  height: 100%;
  width: 80%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  display: table;
  position: relative;
  top: 10%;
  /*left: 5%;*/
  float: left;
}

.logo_container h1 {
  color:rgb(0, 0, 0);
  display: table;
  font-size: 30px;
}

.logo_container h1:hover {
  font-weight:lighter;
}

.navigation {
  display: table;
  float: right;
  position: relative;
  top: 25%;
  /*right: 5%;*/
}

.navigation a {
  display: table;
  float: left;
  padding-left: 15px;
  text-decoration: none;
}

.navigation a li{
  color: rgb(6, 81, 20);
  display: table;
  font-size: 20px;
}

.navigation a li:hover{
  color: rgb(0, 0, 0);
}

/* Loggedin Dashboard Page */
.backdrop {
  background-color: #cdffcb;
}

.page_guidelines {
  width: 80%;
  margin: 0 auto;
}

.top_of_page {
  padding-top: 50px;
}

.loggedin_homepage_title {
  font-size: 10px;
}

#symbol_tracking_list_section {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.input_symbol_and_percent_change_form {
  width: 60%;
  margin: 0 auto;
  padding: 16px;
  /*border: 3px solid rgb(102, 210, 100);*/
  background-color: #cdffcb;
  margin-top: 20px;
}

input[class=input_symbol_and_percent_change] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button_symbol_and_percent_change {
  background-color: #2c9a30;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
}

.div_button_delete {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.button_delete_selection {
  background-color: #2c9a30;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
}

button[class=button_symbol_and_percent_change]:hover, button[class=button_see_tracking_list]:hover {
  opacity: 0.8;
}

/* Loggedin Account Page */
.account_page_title, .loggedin_homepage_title {
  text-align: center;
  padding: 20px 0;
}

.account_page_session_info, .account_delete_account {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.account_page_session_info p {
  padding: 10px 0;
}

.edit_account_info, .account_delete_account {
  width: 200px;
  margin: 0 auto;
}

.account_output_message p {
  color: rgb(255, 0, 0);
}

.delete_button {
  background-color: #cbcbcb;
  color: rgb(120, 120, 120);
}

.delete_button:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}